<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="AGE_AdultProtectiveServicesEntities" connectionString="Data Source=ildev084sql3.iltest.illinois.gov;Initial Catalog=AGE_AdultProtectiveServices;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AGE_AdultProtectiveServicesEntities" connectionString="Data Source=iltest084sql20.iltest.illinois.gov;Initial Catalog=AGE_AdultProtectiveServices;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="AGE_AdultProtectiveServicesEntities" connectionString="Data Source=iltest084sql20.iltest.illinois.gov;Initial Catalog=AGE_AdultProtectiveServices;User Id=AGE_AdultProtectiveServicesWebApp;Password=4627-8493-0E74;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>    
    <!--<add name="AGE_AdultProtectiveServicesEntities" connectionString="Data Source=il084qsqlc30.illinois.gov;Initial Catalog=AGE_AdultProtectiveServices;User Id=AGE_AdultProtectiveServicesWebApp;Password=4627-8493-0E74;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AGE_AdultProtectiveServicesEntities" connectionString="Data Source=il084sqlc30.illinois.gov;Initial Catalog=AGE_AdultProtectiveServices;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

    <!--<add name="PersonProfileDbContext" connectionString="Data Source=il084sqlc30.illinois.gov;Initial Catalog=AGE_APSPersonProfile;User Id=AGE_PersonProfileWebService;Password=AB6A-4C2F-99DC;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="PersonProfileDbContext" connectionString="Data Source=iltest084sql20.iltest.illinois.gov;Initial Catalog=AGE_APSPersonProfile;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="_DOAPublishedDate" value="7/31/2018"/>
    <add key="_DOAEnvironment" value="TEST"/>

    <add key="_SupportDocuments" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\SupportDocuments\\" />
    <add key="_RedactedReleases" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\RedactedReleases\\" />

  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Windows"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="BasicHttpBindingConfig" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>-->
        <binding name="BasicHttpBindingConfig" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Aging.APSCMS.CaseManagementService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="BasicHttpBindingConfig" 
                  bindingNamespace="http://localhost:4445/CaseManagementService.svc" 
                  name="ICaseManagementServiceEndpoint" 
                  contract="Aging.APSCMS.ICaseManagementService">
          <!--<identityICaseManagementServiceEndpoint
            <dns value="illinois.gov"/>
          </identity>-->
        </endpoint>
      </service>
    <service name="Aging.APSCMS.CMSReportsService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="BasicHttpBindingConfig" 
                  bindingNamespace="http://localhost:4445/CMSReportsService.svc" 
                  name="ICMSReportsServiceEndpoint" 
                  contract="Aging.APSCMS.ICMSReportsService">
          <!--<identityICaseManagementServiceEndpoint
            <dns value="illinois.gov"/>
          </identity>-->
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="CaseManagementService.svc"/>
      <add value="CMSReportsService.svc"/>
      </files>
    </defaultDocument>

  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Error2.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>

        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>

        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>