<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>    
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>

  <!--<configProtectedData>
    <providers>
      <add name="CmsIisRsaProv" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="CmsIisMKFED" useMachineContainer="true"/>
    </providers>
  </configProtectedData>-->

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Mvc.Razor" />
        <add namespace="System.Web.Optimization" />
        <add namespace="DOAFramework.Common.WebMVC.Helpers" />
        <add namespace="DOAFramework.Data.Security.Entities" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApplicationName" value="AGE.CMS" />
    <!-- Application RoleManager can be AppManager (default) or OBS -->
    <add key="AppRoleManager" value="AppManager" />
    <add key="AppManagerRolesUrl" value="https://appsecuretest.iltest.illinois.gov/AppManager/_admin/roles.aspx?appname=" />
    <add key="AppManagerUsersUrl" value="https://appsecuretest.iltest.illinois.gov/AppManager/_admin/users.aspx?appname=" />
    <add key="AppManagerLogsUrl" value="https://appsecuretest.iltest.illinois.gov/AppManager/_admin/logs.aspx?appname=" />
    <add key="ProfileService.PublicDomain" value="public" />
    <!-- Create new keys for _TAgency_._TAppName_ app below -->
    <add key="ProfileService.LoadProfile" value="false" />
    <add key="ProfileService.AgencyKeyPublic" value="B9DB3A24-F717-40F1-A317-31C4709FC3E1" />
    <!-- Rename CMSProfile_Reg3 to CMSProfile_Reg and Accounts3 to Accounts below if only public account login required -->
    <add key="ProfileService.RegistrationUrlPublic" value="https://appsecuretest.iltest.illinois.gov/CMS/CMSProfile_Reg3/" />
    <add key="ProfileService.AgencyKeyPrivate" value="B9DB3A24-F717-40F1-A317-31C4709FC3E1" />
    <add key="ProfileService.RegistrationUrlPrivate" value="https://appsecuretest.iltest.illinois.gov/CMS/CMSProfile_Reg3/" />
    <add key="ManageAccountUrl" value="https://appsecuretest.iltest.illinois.gov/CMS/Accounts3/default.aspx?Source={0}" />
    <add key="vs:EnableBrowserLink" value="true" />
    <add key="enableIPorDLookup" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="_DOAApplicationRootUrl" value="" />
    <add key="_DOAAreaName" value="CMS" />
    <add key="_DOAThemeName" value="Basic" />
    <add key="_DOAabsAssetsPath" value="~/Assets/" />
    <add key="_DOAabsViewPath" value="~/Assets/" />
    <add key="_DOArelAssetsPath" value="Assets/" />
    <add key="_DOArelScriptsPath" value="Scripts" />
    <add key="_DOArelStyleSheetsPath" value="StyleSheets" />
    <add key="_DOArelImagesPath" value="Images" />
    <add key="_DOAPublishedDate" value="7/31/2018" />
    <add key="_DOAEnvironment" value="Test" />
    <add key="LinkedAppNames" value="AGE.ADULTPROTECTIVESERVICES_LOCAL" />
    <add key="LinkedAppDisplayNames" value="APS Billing" />
    <add key="LinkedURLs" value="APS" />
    <add key="IsInternal" value="1" />
    <add key="BaseUrl" value="https://webappstest.iltest.illinois.gov/AGE" />



    <add key="_CMSTestLink" value="https://webappstest.iltest.illinois.gov/AGE/CMS/" />
    <!--For Local and Test-->
    <add key="_DDDEmail" value="mounish.thatikonda@illinois.gov" />
    <add key="_DRSEmail" value="praneeth.bommineni@illinois.gov" />
    
    <add key="_DMHEmail" value="Jody.Kershaw@illinois.gov" />
    <add key="_DMHEmail1" value="Jody.Kershaw@illinois.gov" />
    
    <add key="_CCPEmail" value="mounish.thatikonda@illinois.gov" />
    <add key="_DSCCEmail" value="praneeth.bommineni@illinois.gov" />
    
    <add key="_HFSEmail" value="praneeth.bommineni@illinois.gov" />
    <add key="_HFSEmail1" value="praneeth.bommineni@illinois.gov" />
   
    
    
    <!--For QA-->
    <!--<add key="_DDDEmail" value="Doug.Kircher@Illinois.gov" />
    <add key="_DRSEmail" value="DHS.APS@illinois.gov" />
    <add key="_CCPEmail" value="Aging.Occs@Illinois.gov" />
    <add key="_DSCCEmail" value="APSAlertEmail@exchange.dscc.uic.edu" />    
    <add key="_DMHEmail" value="Jody.Kershaw@illinois.gov" />-->

   
    <add key="IDoAEmail" value="aging.aps@illinois.gov" />
    
    
    <add key="_SupportDocuments" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\SupportDocuments\\" />
    <add key="_RedactedReleases" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\RedactedReleases\\" />
    <add key="_AdditionalResources" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\AdditionalResources\\" />
    <add key="_QualityAssuranceReviews" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\QualityAssuranceReviews\\" />
    <add key="_CaseResources" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\CaseResources\\" />
    <add key="_EmailTemplate" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\EmailTemplate\\EmailTemplate.html" />
    <!--<add key="_SupportDocuments" value="\\\\illinois.gov\\age\\Shared\\MISII\\IDOA-IT\\APSCaseManagementSystem\\Files\\SupportDocuments\\" />
    <add key="_RedactedReleases" value="\\\\illinois.gov\\age\\Shared\\MISII\\IDOA-IT\\APSCaseManagementSystem\\Files\\RedactedReleases\\" />
    <add key="_AdditionalResources" value="\\\\illinois.gov\\age\\Shared\\MISII\\IDOA-IT\\APSCaseManagementSystem\\Files\\AdditionalResources\\" />
    <add key="_QualityAssuranceReviews" value="\\\\illinois.gov\\age\\Shared\\MISII\\IDOA-IT\\APSCaseManagementSystem\\Files\\QualityAssuranceReviews\\" />
    <add key="_CaseResources" value="\\illinois\age\Shared\APSCMS\Attach\Test\CaseResources\\" />-->
    <!-- For Test Environment
    <add key="_SupportDocuments" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\SupportDocuments\\"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="_RedactedReleases" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\RedactedReleases\\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="_AdditionalResources" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\AdditionalResources\\"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="_QualityAssuranceReviews" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\QualityAssuranceReviews\\"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="_CaseResources" value="\\\\illinois\\age\\Shared\\APSCMS\\Attach\\Test\\CaseResources\\" />-->
  </appSettings>
  <system.web>
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=il084dsql2016a.iltest.illinois.gov;Initial Catalog=DoIT_ASPState;Integrated Security=true;" cookieless="false" cookieName="_TAgency___TAppName__SessionId" timeout="30" />
    <machineKey validationKey="9BB4ABCE4811DFC78EE2F8F6F769F695228D3549BF78242F5AC620A96D6F7C64CCB073CD730A08AE0144CD1FA87367730BA96F1FE7533B43097AAB7D07ED533C" decryptionKey="C3E0353E315273A0D9C021C5D118379B59BE2E2B61878350" validation="SHA1" decryption="AES" />
    <httpCookies requireSSL="false" httpOnlyCookies="true" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="4096" maxRequestLength="30720" shutdownTimeout="7200" enableVersionHeader="false" />
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="AGE.CMS.Core.CustomRoleProvider" applicationName="AGE.CMS" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Mvc.Razor" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="aging.webapp.notify@illinois.gov">
        <network host="smtpr.illinois.gov" userName="aging.webapp.notify@illinois.gov" />
      </smtp>
    </mailSettings>
    <!--<mailSettings>
      --><!-- Mailer --><!--
      <smtp from="Automated_DO_NOT_REPLY@illinois.gov">
        <network enableSsl="false" host="10.201.78.84" port="25" userName="some-email@gmail.com" password="valid-password" />
      </smtp>
    </mailSettings>-->

  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="OPTION" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Frame-Options" />
        <add name="X-UA-Compatible" value="IE=Edge" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" />
      <error statusCode="401" path="/Unauthorized/Function/" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ICaseManagementServiceEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="ICMSReportsServiceEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>      
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="IProfileService">
          <security mode="None" />
        </binding>
        <binding name="IRoleServiceAgent">
          <security mode="None" />
        </binding>
        <binding name="ISecurityServiceEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ICVRServiceEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="ICVRServiceEndpoint1">
          <security mode="Transport" />
        </binding>
        <binding name="ICVRServiceEndpoint2">
          <security mode="Transport" />
        </binding>
        <binding name="IPersonProfileServiceEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="IAPSCaseServiceEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="ICVRServiceEndpoint3">
          <security mode="Transport" />
        </binding>
        <binding name="ICaseManagementServiceEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <!--<binding name="ICVRServiceEndpoint4">
          <security mode="Transport" />
        </binding>
        <binding name="IPersonProfileServiceEndpoint1">
          <security mode="Transport" />
        </binding>-->
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cmssvc.iltest.illinois.gov/CMS_Common_Profile/ProfileService.svc" binding="wsHttpBinding" bindingConfiguration="IProfileService" contract="ProfileServiceSvcRef.IProfileService" name="IProfileService">
        <identity>
          <dns value="iltest.illinois.gov" />
        </identity>
      </endpoint>
      <endpoint address="http://cmssvc.iltest.illinois.gov/BCS/RoleServiceAgent.svc" binding="wsHttpBinding" bindingConfiguration="IRoleServiceAgent" contract="RoleServiceAgentSvcRef.IRoleServiceAgent" name="IRoleServiceAgent">
        <identity>
          <dns value="iltest.illinois.gov" />
        </identity>
      </endpoint>
      <!--<endpoint address="https://service1.illinois.gov/AGE/DOASecurity/SecurityWCFService.svc" binding="wsHttpBinding" bindingConfiguration="ISecurityServiceEndpoint" contract="SecurityServiceSvcRef.ISecurityWCFService" name="ISecurityServiceEndpoint">
        --><!--<identity>
          <dns value="iltest.illinois.govt" />
        </identity>--><!--
      </endpoint>-->
      <endpoint address="https://servicetest.iltest.illinois.gov/AGE/DOASecurity/SecurityWCFService.svc" binding="wsHttpBinding" bindingConfiguration="ISecurityServiceEndpoint" contract="SecurityServiceSvcRef.ISecurityWCFService" name="ISecurityServiceEndpoint">
        <identity>
          <dns value="iltest.illinois.govt" />
        </identity>
      </endpoint>
      <endpoint address="https://servicedev.iltest.illinois.gov/AGE/ParticipantSearchService/HFSReceipientsSrvc.svc" binding="wsHttpBinding" bindingConfiguration="ICVRServiceEndpoint1" contract="HFSReceipientsSvcRef.IHFSReceipientsSrvc" name="ICVRServiceEndpoint1">
        <identity>
          <dns value="illinois.gov" />
        </identity>
      </endpoint>
      <endpoint address="https://servicedev.iltest.illinois.gov/AGE/ParticipantSearchService/CVRSrv.svc" binding="wsHttpBinding" bindingConfiguration="ICVRServiceEndpoint2" contract="CVRSvcRef.ICVRSrv" name="ICVRServiceEndpoint2">
        <identity>
          <dns value="illinois.gov" />
        </identity>
      </endpoint>
     
      <endpoint address="https://servicedev.iltest.illinois.gov/AGE/ParticipantSearchService/ECCPISSrvc.svc" binding="wsHttpBinding" bindingConfiguration="ICVRServiceEndpoint3" contract="ECCPISSvcRef.IECCPISSrvc" name="ICVRServiceEndpoint">
        <identity>
          <dns value="illinois.gov" />
        </identity>
      </endpoint>
        <!--<endpoint address="http://localhost:4251/PersonProfileWCFService.svc" binding="basicHttpBinding" bindingConfiguration="IPersonProfileServiceEndpoint" contract="PersonProfileServiceRef.IPersonProfileWCFService" name="IPersonProfileServiceEndpoint" />-->      
      <!--<endpoint address="https://servicetest.iltest.illinois.gov/AGE/PersonProfile/PersonProfileWCFService.svc" binding="wsHttpBinding" bindingConfiguration="IPersonProfileServiceEndpoint" contract="PersonProfileWCFService.IPersonProfileWCFService" name="IPersonProfileServiceEndpoint">
        <identity>
          <servicePrincipalName value="host/CMS084TWEB01.iltest.illinois.gov" />
        </identity>
      </endpoint>-->
      <endpoint address="https://service1.illinois.gov/AGE/personprofile/PersonProfileWCFService.svc" binding="wsHttpBinding" bindingConfiguration="IPersonProfileServiceEndpoint" contract="PersonProfileWCFService.IPersonProfileWCFService" name="IPersonProfileServiceEndpoint">
        <!--<identity>
          <servicePrincipalName value="host/CMS084TWEB01.iltest.illinois.gov" />
        </identity>-->
      </endpoint>
      <endpoint address="https://servicetest.iltest.illinois.gov/AGE/APSCase/APSCaseWCFService.svc" binding="wsHttpBinding" bindingConfiguration="IAPSCaseServiceEndpoint" contract="APSCaseServiceSvcRef.IAPSCaseWCFService" name="IAPSCaseServiceEndpoint">
        <identity>
          <servicePrincipalName value="host/CMS084TWEB01.iltest.illinois.gov" />
        </identity>
      </endpoint>
      <!--<endpoint address="http://localhost:4445/CaseManagementService.svc" binding="basicHttpBinding" bindingConfiguration="ICaseManagementServiceEndpoint" contract="CaseManagementServiceRef.ICaseManagementService" name="ICaseManagementServiceEndpoint" />
      <endpoint address="http://localhost:4445/CMSReportsService.svc" binding="basicHttpBinding" bindingConfiguration="ICMSReportsServiceEndpoint" contract="CaseManagementReportServiceRef.ICMSReportsService" name="ICMSReportsServiceEndpoint" />-->
      <endpoint address="http://servicetest.iltest.illinois.gov/AGE/CMSservice/CaseManagementService.svc"
              binding="basicHttpBinding" bindingConfiguration="ICaseManagementServiceEndpoint"
              contract="CaseManagementServiceRef.ICaseManagementService"
              name="ICaseManagementServiceEndpoint"              />
      <endpoint address="http://servicetest.iltest.illinois.gov/AGE/CMSservice/CMSReportsService.svc"
               binding="basicHttpBinding" bindingConfiguration="ICMSReportsServiceEndpoint"
               contract="CaseManagementReportServiceRef.ICMSReportsService"
               name="ICMSReportsServiceEndpoint"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <sessionTokenRequirement lifetime="00:30:00"></sessionTokenRequirement>
        </add>
      </securityTokenHandlers>
      <audienceUris>
        <!--<add value="http://localhost:8098/Home/" />-->
        <add value="https://webappstest.iltest.illinois.gov/AGE/CMS/" />
        <!--<add value="https://webappsqa.illinois.gov/AGE/CMS/" />-->
      
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="7feae6bf15ee7c7a702ac8414cbebdfbb65e7214" name="CN=IdentitySPStsCert" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>

  <!-- Required -->
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <!--<wsFederation passiveRedirectEnabled="true" issuer="https://webappsdev.iltest.illinois.gov/CMS/SP3/" realm="http://localhost:8098/Home/" requireHttps="false" />-->
        <wsFederation passiveRedirectEnabled="true" issuer="https://webappstest.iltest.illinois.gov/cms/sp3/" realm="https://webappstest.iltest.illinois.gov/AGE/CMS/" requireHttps="false" />
      <!--<wsFederation passiveRedirectEnabled="true" issuer="https://webappsqa.illinois.gov/cms/sp3/" realm="https://webappsqa.illinois.gov/AGE/CMS/" requireHttps="false" />-->
      
        <!-- Replace below line if your APP required Public Account Only (CMS/SP) -->
        <!--
            <wsFederation passiveRedirectEnabled="true" issuer="https://webappstest.iltest.illinois.gov/cms/sp3/" realm="http://localhost/" requireHttps="false" />
        -->
    </federationConfiguration>
  </system.identityModel.services>
</configuration>